// backgrounds
$darkBackgroundPrimary: #343a40;
$darkBackgroundSecondary: #707D8A;
// fonts
$font-white: #FFFEF7;

// accents
$lolGrey: #666;

@mixin applyStandardBackgroundAndFont() {
  color: black;
  background: white;
}