@import "src/sass/_base.scss";

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;

  .form-section {
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;

    label {
      margin: 5px;
      width: 30%;
      text-align: end;
    }

    .form-control {
      width: auto;
      margin-left: 5px;
    }
  }
}

.action-row {
  @extend %actionRow;

  button {
    font-size: 1.05em;
    min-width: 100px;
  }
}
