// TODO import common button styles for btn-primary and btn-danger

label {
  margin: 5px;
}

.form-group {
  margin: 0 30px;
}

.form-control {
  margin: 5px;
}

.btn-primary {
  margin: 15px 15px 15px 5px;
}

.btn-danger {
  margin: 15px 15px 15px 5px;
}