@import "../../../src/sass/colors";

.table-wrapper {
  table {
    @include applyStandardBackgroundAndFont();

    border-spacing: 0;
    border: 1px solid $lolGrey;

    tr {
      :last-child {
        td {
          border-bottom: 0;
        }
      }
    }

    th,
    td {
      margin: auto;
      padding: 0.25rem;
      border-bottom: 1px solid $lolGrey;
      border-right: 1px solid $lolGrey;

      :last-child {
        border-right: 0;
        border-bottom: 0;
      }
    }
  }
}
