@import "src/sass/_colors.scss";

@mixin invertColors() {
  background: $fontWhite;
  color: $darkBackgroundSecondary;
}

.nav-links-container {
  width: 100%;
  min-height: 105px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $darkBackgroundSecondary;

  .nav-links:first-of-type {
    padding-top: 15px;
  }
  .nav-links:last-of-type {
    padding-bottom: 15px;
  }
}

.navbar {
  width: 100%;
  background-color: $darkBackgroundPrimary;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.logo-wrapper {
  a {
    color: $fontWhite;
    text-decoration: none;
    font-size: 8px;

    display: flex;
    flex-direction: column;
  }
}

.nav-section {
  font-size: 1.25em;
}

.nav-links {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;

  .nav-link {
    margin: 0 10px;
  }
}

.nav-link {
  color: $fontWhite;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid $fontWhite;
  border-radius: 5px;

  &:hover,
  &.selected {
    @include invertColors();
  }
}
