// TODO -- import from colors file
.navbar {
  background-color: #343a40;
  margin-bottom: 20px;
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}