@import "src/sass/_colors.scss";

.nav-links-container {
  width: 100%;
  margin-top: 20px;
  padding: 10px 0;
      display: flex;
    flex-direction: column;
    align-items: center;
  background: $darkBackgroundSecondary;
}

.navbar {
  width: 100%;
  background-color: $darkBackgroundPrimary;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0;
}

.logo-wrapper {
  a {
    color: $font-white;
    text-decoration: none;
    font-size: 8px;

    display: flex;
    flex-direction: column;
  }
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: $font-white;
  text-decoration: none;
  padding: 5px 10px;
  border: 1px solid white;
  border-radius: 5px;
}