@import "src/sass/_colors.scss";

.navbar {
  background-color: $darkBackgroundPrimary;
  margin: 0 10% 20px 10%;
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.logo-wrapper {
  a {
    color: $font-white;
    text-decoration: none;
    font-size: 8px;

    display: flex;
    flex-direction: column;
  }
}

.nav-links {
  a {
    color: $font-white;
    text-decoration: none;
  }
}